<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
    <div th:fragment="consumoPorClienteForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label  class="col-form-label">Name</label>
            <input  class="form-control" type="text" id="nombre" name="nombre" required th:value="${consumo.nombre}" />
            <label  class="col-form-label">Costo</label>
            <input  class="form-control" type="text" id="costo" name="costo" required th:value="${consumo.costo}" />
            <label  class="col-form-label">Fecha</label>
            <input  class="form-control" type="date" id="fecha" name="fecha" required th:value="${consumo.fecha}" />
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/clientes/{id_cliente}/consumos(id_cliente=${cliente.id})}" class="btn btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>

