<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
    <div th:fragment="consumoPorClienteForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label  class="col-form-label">Nombre Habitacion</label>
            <input  class="form-control" type="text" id="nombreHabitacion" name="nombreHabitacion" required th:value="${consumo.nombreHabitacion}" />
            <label  class="col-form-label">Costo</label>
            <input  class="form-control" type="Number" id="costo" name="costo" required th:value="${consumo.costo}" />
            <label  class="col-form-label">Tipo servicio</label>
            <input  class="form-control" type="text" id="tipoServico" name="tipoServico" required th:value="${consumo.tipoServico}" />
            <label  class="col-form-label">Id servicio</label>
            <input  class="form-control" type="text" id="servicio" name="servicio" required th:value="${consumo.servicio}" />
            <label  class="col-form-label">Fecha</label>
            <input  class="form-control" type="date" id="fecha" name="fecha" required th:value="${consumo.fecha}" />
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/clientes/{id_cliente}/consumos(id_cliente=${cliente.id})}" class="btn btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>

