<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hotelandes</title>
        <link th:replace="fragments/encabezado.html" />
    </head>
    <body>
        <nav th:replace="fragments/menu.html" ></nav>
        
        <form th:action="@{'/sedes/' + ${sedeId} + '/habitaciones/'+${habitacion.numero} +'/edit/save'}" th:object="${habitacion}" method="post" class="container border border-2 w-25">
            <label  class="col-form-label">Numero</label>
            <input  class="form-control" type="text" id="numero" name="numero" required th:value="${habitacion.numero}" />
            <label  class="col-form-label">tipo de habitacion</label>
            <input  class="form-control" type="text" id="tipoHabitacion" name="tipoHabitacion" required th:value="${habitacion.tipoHabitacion}" />
            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
            </div>
        </form>
    </body>
</html>