<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Editar alojamiento</title>
        <link th:replace="fragments/encabezado.html" />
</head>
<body>
    <nav th:replace="fragments/menu.html"></nav>
    <div class="container border border-2 w-50 ">
        <h1 class="text-center">El porcentaje de ocupación de la habitación en el último año es:</h1>
        <h1 class="text-center" th:text="${ocupacion}">[Porcentaje de ocupación]</h1>

        
    </div> 
    
</body>
</html>