<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hotelandes</title>
        <link th:replace="fragments/encabezado.html" />
    </head>
    <body>
        <nav th:replace="fragments/menu.html"></nav>
             <form th:action="@{/clientes/{id_cliente}/reservas/new/save(id_cliente=${cliente.id})}" method="post">

            <div th:replace="~{fragments/reservaPorClienteForm :: reservaPorClienteForm(titulo='Crear reserva')}"></div>
        </form>
    </body>
</html>
